name: Build tor ip list
on:
  workflow_dispatch:
  schedule:
    - cron: "0 22 * * *"
  push:
    branches:
      - main
    paths-ignore:
      - ".gitignore"
      - "LICENSE"
      - "README.md"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get tor ip list
        run: curl -L https://www.dan.me.uk/torlist/?full -o torlist

      - name: Add cidr prefix
        run: awk '/\./ {print $0"/32"} !/\./ {print $0"/128"}' torlist > torcidr.txt

      - name: Upload files to GitHub release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.ACTIONS_RELEASE_TOKEN }}
          file_glob: true
          file: torcidr.txt
          tag: latest
